/*
  Robin Luo
  Spring 2025
  Web Authoring
  index.css stylesheet for main.html
*/

.wrapper {
  /* background: #ffffff; */
  width: 1000px;  /* give the element a fixed width */
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
}

body {
  background-color:#414a37;
  margin-left: 35px;
  width: 90%;
}

.site-logo-image {
  width: 80px;
  padding-bottom: 10px;
}

.site-logo {
  padding-bottom:20px;
}

h1, h2, h3 {
  color: #bf9d6d;
}

h1 {
  background-color:#3a4231;
  font-size: 80px;
  /* background-color: #ee9695; */
  font-style: italic;
  font-family: "Jacquard 12", serif;
  font-weight: 400;
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 25px;
}

h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

h3, header {
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
  font-family: "Workbench", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

nav {
  padding: 5px;
  padding-top: 20px;
}

p, ul, ol, table {
  /* background-color: #bf9d6d; */
  /* color: #414a37; */
  color: #99744a;
  font-size: 30px;
  font-family: "Road Rage", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #b78c5b;
  font-style: italic;
}

img {
  width:40%;
}